{% extends "posts_base.html" %}
{% block title %}Quick Thoughts{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="d-grid col-10 mx-auto">
        <form action="{{ url_for('new_quick_thought') }}" class="mx-auto">
            <button type="submit" class="btn btn-success">New quick thought</button>
        </form>
    </div>
    {% for thought in thoughts: %}
        <div class="col-md-8 col-lg-6 mx-auto post-box">
            <h3>{{ thought.title }}</h3>
            <p>{{ thought.content }}</p>
        </div>
    {% endfor %}
    </div>
{% endblock %}